{{ define "content" }}

    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Type</th>
                <th>Null</th>
                <th>Key</th>
                <th>Default</th>
                <th>Extra</th>
            </tr>
        </thead>
        {{ range $row := .Rows}}
            <tr>
                <td>{{$row.Field | ToString}}</td>
                <td>{{$row.Type | ToString}}</td>
                <td>{{$row.Null | ToString}}</td>
                <td>{{$row.Key | ToString}}</td>
                <td>{{$row.Default | ToString}}</td>
                <td>{{$row.Extra | ToString}}</td>
            </tr>
        {{ end }}
    </table>

{{ end }}